* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.5) 25%,  rgba(0, 0, 0, 0.3) 75%), 
        url("../img/Sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Dosis', sans-serif;
}

.header {
    text-align: center;
}

.logo {
    max-width: 12.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    animation: logo-fly-in 7s ease-in-out 0s 1 both,
        logo-turbulences 10s ease-in-out 7s infinite none;
}

@keyframes logo-turbulences {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -0.5rem);
    }
    50% {
        transform: translate(0, 0.5rem);
    }
    75% {
        transform: translate(0, 0.2rem) scale(1.025);
    }
}

@keyframes logo-fly-in {
    0% {
        opacity: 0;
        transform: translate(0, -20rem) scale(0.2) rotateZ(20deg);
    }
    50% {
        transform: translate(0, 0) rotateZ(-20deg);
    }
    75% {
        transform: translate(0, -2rem);
    }
    100% {
        opacity: 0.9;
        transform: translate(0, 0) scale(1) rotateZ(0deg);
    }
}

.main {
    color: white;
    text-align: center;
}
.main--heading {
    margin-bottom: 0.3rem;
    text-shadow: 0rem 0rem 0.6rem black;
}

.main--paragraph {
    text-shadow: 0rem 0rem 0.6rem black;
}

.button {
    margin-top: 0.6rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: rgb(192, 154, 131);
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    display: inline-block;
    border-radius: 625rem;
}

.button:hover {
    background-image: radial-gradient(circle at 50% 50%, rgb(135, 111, 96) 1%, rgb(70, 57, 50) 1%);
    background-size: 20000% 20000%;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    transition: background-size 0.25s;
}
.button:hover:active {
    transition-duration: 0s;
    background-size: 100% 100%;
}

@media (max-width: 1260px) {
    .logo {
        max-width: 8rem;
    }
}

@media (max-width: 950px) {
    html {
        background-image: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.5) 25%,  rgba(0, 0, 0, 0.3) 75%), 
        url("../img/Sky.jpg");
    background-position: center;
    }
}